<button class="btn btn-primary" routerLink="/form">Form page</button>
<div class="container my-5 table-responsive-sm">
    <table class="table ">
        <thead class="table-dark">
            <tr>
                <th>Sl.No</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>STATUS</th>
                <th>GENDER</th>
                <th>LANGUAGE</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-primary">
            <tr *ngFor="let list of product ;let i = index">
                <td>{{i+1}}</td>
                <td>{{list.name}}</td>
                <td>{{list.age}}</td>
                <td>{{list.status}}</td>
                <td>{{list.gender}}</td>
                <td>{{list.language}}</td>
                <td><button type="button" class="btn btn-success btn-sm mr-2"><a routerLink='/form/{{list.id}}'>Accept </a>
                </button></td>
        </tbody>
    </table>
</div>